# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/CursoKotlinUdemy/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/CursoKotlinUdemy/.gradle/buildOutputCleanup/cache.properties
/CursoKotlinUdemy/.gradle/checksums/checksums.lock
/CursoKotlinUdemy/.gradle/7.1/dependencies-accessors/dependencies-accessors.lock
/CursoKotlinUdemy/.gradle/7.1/executionHistory/executionHistory.bin
/CursoKotlinUdemy/.gradle/7.1/executionHistory/executionHistory.lock
/CursoKotlinUdemy/.gradle/7.1/fileHashes/fileHashes.bin
/CursoKotlinUdemy/.gradle/7.1/fileHashes/fileHashes.lock
/CursoKotlinUdemy/.gradle/7.1/dependencies-accessors/gc.properties
/CursoKotlinUdemy/.gradle/7.1/gc.properties
/CursoKotlinUdemy/.gradle/vcs-1/gc.properties
/CursoKotlinUdemy/.gradle/7.1/fileChanges/last-build.bin
/CursoKotlinUdemy/.gradle/buildOutputCleanup/outputFiles.bin
/CursoKotlinUdemy/build/kotlin/compileKotlin/build-history.bin
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.keystream
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.keystream.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.values.at
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab_i
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab_i.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/counters.tab
/CursoKotlinUdemy/build/classes/kotlin/main/META-INF/CursoKotlinUdemy.kotlin_module
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.values.at
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.values.at
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/last-build.bin
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.values.at
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/package-parts.tab
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/package-parts.tab.keystream
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/package-parts.tab.keystream.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/package-parts.tab.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/package-parts.tab.values.at
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/package-parts.tab_i
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/package-parts.tab_i.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.len
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.values.at
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i
/CursoKotlinUdemy/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i.len
